In [1]:
# 본 코드의 목적
# daily_stockwise_dict / year_no 에 보관된 일별_1, 일별_2 피클 파일들을 모두 모아서
# 연 단위의 통합 df를 만든다

In [2]:
# 거래일을 가져오는 과정

In [3]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np
import datetime

In [4]:
kospi_list_df = fdr.StockListing('KOSDAQ')

In [5]:
kospi_list_df

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시
51,032790,KOSDAQ,BNGT,기계장비 및 관련 물품 도매업,"Bio 이종장기 사업, ICT 프린터 현상기",1997-06-26,12월,조상환,http://www.mgenplus.com,서울특별시
...,...,...,...,...,...,...,...,...,...,...
7198,024060,KOSDAQ,흥구석유,기타 전문 도매업,휘발유등,1994-12-07,12월,김상우,NaN,대구광역시
7199,010240,KOSDAQ,흥국,특수 목적용 기계 제조업,굴삭기 Roller 및 형단조품,2009-05-12,12월,류명준,http://www.heungkuk.co.kr,충청남도
7200,189980,KOSDAQ,흥국에프엔비,비알코올음료 및 얼음 제조업,"과일음료(에이드베이스, 스무디, 착즙쥬스 등)",2015-08-07,12월,"박철범, 오길영",http://www.hyungkuk.com,서울특별시
7205,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시
7206,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [6]:
test_symbol_list = []
for i in range(5):
    test_symbol_list.append(kospi_list_df['Symbol'].values[i])

test_symbol_list

['060310', '054620', '265520', '211270', '013720']

In [7]:
target_year = '2021'

In [8]:
full_date_df = fdr.DataReader(test_symbol_list[1], target_year)

In [9]:
full_date_df

             Open   High    Low  Close  Volume    Change
Date
2021-01-04   8220   8270   7960   8000  300316 -0.025579
2021-01-05   7970   8100   7870   7900  190388 -0.012500
2021-01-06   7940   7980   7590   7670  471365 -0.029114
2021-01-07   7700   7730   7600   7650  178284 -0.002608
2021-01-08   7650   7720   7470   7500  274988 -0.019608
...           ...    ...    ...    ...     ...       ...
2021-08-24  19450  19650  18650  19000   98776 -0.007833
2021-08-25  19000  19650  18700  19450   59159  0.023684
2021-08-26  19550  19950  19250  19350   47887 -0.005141
2021-08-27  19250  19550  18900  19300   32603 -0.002584
2021-08-30  19300  19350  18950  19100   33261 -0.010363

[165 rows x 6 columns]

In [10]:
raw_tradingdays = list(full_date_df.index.values)

In [11]:
tradingdays = [int(pd.to_datetime(td).strftime('%Y%m%d')) for td in raw_tradingdays]

In [12]:
daily_folder_dir = './daily_stockwise_dict/'+target_year

In [13]:
import sys

from PyQt5.QtWidgets import *

app = QApplication(sys.argv)

from kiwoom.kiwoom import *

save_list = []

kiwoom = Kiwoom(save_list)

로그인에 성공하였습니다.

1. 현재 로그인 상태 확인
2. 사용자 정보 조회
3. 예수금 조회
4. 계좌 잔고 조회
5. 미체결 내역 조회
6. 종목 리스트 조회
7. 일별 투자자별 매수 매도 종목 조회
Q. 프로그램 종료
P. Kiwoom 객체를 보존한 채로 종료
=> p

In [14]:
stock_code_list = kiwoom.get_code_list_by_market('10') # '10'이 코스닥

In [15]:
stockwise_list_dict = {}
for stock_code in stock_code_list:
    stockwise_list_dict[stock_code] = []

In [16]:
import pandas as pd

In [17]:
import pickle

In [18]:
# 여기서 일자별로 순회

In [19]:
for curr_tradingday in tradingdays[:-1]:
    daily_file_1_dir = daily_folder_dir+'/daily_stockwise_dict_'+str(curr_tradingday)+'_1.pickle'
    daily_file_2_dir = daily_folder_dir+'/daily_stockwise_dict_'+str(curr_tradingday)+'_2.pickle'
    with open(daily_file_1_dir, 'rb') as fr:
        stockwise_dict_1 = pickle.load(fr)
    with open(daily_file_2_dir, 'rb') as fr:
        stockwise_dict_2 = pickle.load(fr)
    for stock_code in stock_code_list:
        if stock_code in list(stockwise_dict_1.keys()):
            stockwise_list_dict[stock_code].append(stockwise_dict_1[stock_code][2])
        elif stock_code in list(stockwise_dict_2.keys()):
            stockwise_list_dict[stock_code].append(stockwise_dict_2[stock_code][2])
        else:
            stockwise_list_dict[stock_code].append(0)

In [20]:
year_daily_df = pd.DataFrame(columns = stock_code_list, index = tradingdays[:-1])

In [21]:
for stock_code in stock_code_list:
    year_daily_df[stock_code] = stockwise_list_dict[stock_code]

In [22]:
year_daily_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,0,0,0,0,0,0,0,-5210,0,0,...,785,15,0,0,0,0,0,0,0,0
20210105,0,0,0,0,0,0,-8,-4517,0,0,...,806,10,0,0,0,0,0,0,0,0
20210106,0,0,0,0,0,0,0,-2658,0,0,...,-433,0,0,0,0,0,0,0,0,0
20210107,0,0,0,0,0,0,0,-1807,0,0,...,137,0,0,0,4,0,0,0,6,0
20210108,0,0,0,0,0,0,0,-1689,0,0,...,-67,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,0,0,0,0,0,-7,0,1381,0,0,...,0,7,0,47,0,0,0,-2337,-68,0
20210824,0,0,0,0,0,-77,0,326,0,0,...,91,324,0,-113,0,0,0,-46,-19,0
20210825,0,0,0,0,0,0,0,644,0,0,...,-94,-499,0,40,0,0,0,-37,1,0
20210826,0,0,0,0,0,0,0,-3808,0,0,...,0,-466,0,-342,0,0,0,-154,0,0
20210827,0,0,0,0,0,0,0,-428,0,0,...,0,-282,0,-218,0,0,0,-419,0,0

In [23]:
buy_3dr_df = year_daily_df.rolling(3).sum()

In [24]:
buy_3dr_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210106,0.0,0.0,0.0,0.0,0.0,0.0,-8.0,-12385.0,0.0,0.0,...,1158.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20210107,0.0,0.0,0.0,0.0,0.0,0.0,-8.0,-8982.0,0.0,0.0,...,510.0,10.0,0.0,0.0,4.0,0.0,0.0,0.0,6.0,0.0
20210108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-6154.0,0.0,0.0,...,-363.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,0.0,0.0,0.0,0.0,0.0,-7.0,0.0,1347.0,20.0,0.0,...,0.0,6.0,0.0,-9.0,0.0,0.0,0.0,-2337.0,-63.0,0.0
20210824,0.0,0.0,0.0,0.0,0.0,-84.0,0.0,1993.0,20.0,-11.0,...,91.0,331.0,0.0,-88.0,0.0,0.0,0.0,-2383.0,-82.0,0.0
20210825,0.0,0.0,0.0,0.0,0.0,-84.0,0.0,2351.0,0.0,0.0,...,-3.0,-168.0,0.0,-26.0,0.0,0.0,0.0,-2420.0,-86.0,0.0
20210826,0.0,0.0,0.0,0.0,0.0,-77.0,0.0,-2838.0,0.0,0.0,...,-3.0,-641.0,0.0,-415.0,0.0,0.0,0.0,-237.0,-18.0,0.0
20210827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3592.0,0.0,0.0,...,-94.0,-1247.0,0.0,-520.0,0.0,0.0,0.0,-610.0,1.0,0.0

In [25]:
tradingday_dict = {}
for day in tradingdays[3:-1]:
    tradingday_dict[day]=[]
    daily_buy_3dr_df = buy_3dr_df.loc[day:day]
    sorted_amount = sorted(daily_buy_3dr_df.values.tolist()[0], reverse=True)
    topten_amount = sorted_amount[:10]
    for stock_code in stock_code_list:
        if daily_buy_3dr_df[stock_code].values[0] in topten_amount:
            tradingday_dict[day].append(stock_code)

In [26]:
tradingday_dict

{20210107: ['066970',
  '086520',
  '100090',
  '104480',
  '137400',
  '160550',
  '222080',
  '225570',
  '247540',
  '317690'],
 20210108: ['041930',
  '085370',
  '086520',
  '137400',
  '160550',
  '222080',
  '247540',
  '263050',
  '278280',
  '317690'],
 20210111: ['035760',
  '080160',
  '086520',
  '091990',
  '128540',
  '137400',
  '145020',
  '222080',
  '262260',
  '278280'],
 20210112: ['035760',
  '039840',
  '044340',
  '069080',
  '086520',
  '122870',
  '160550',
  '222080',
  '278280',
  '299900'],
 20210113: ['035760',
  '039200',
  '044340',
  '061970',
  '067160',
  '069080',
  '086520',
  '122870',
  '222080',
  '278280'],
 20210114: ['039200',
  '066970',
  '067160',
  '086520',
  '090460',
  '093320',
  '122870',
  '222080',
  '306040',
  '327260'],
 20210115: ['039200',
  '066970',
  '067160',
  '086520',
  '090460',
  '093320',
  '145020',
  '222080',
  '247540',
  '282880'],
 20210118: ['066970',
  '080160',
  '086520',
  '090460',
  '166090',
  '222080',
  '228670',
  '240810',
  '247540',
  '282880'],
 20210119: ['066970',
  '074600',
  '080160',
  '086520',
  '089030',
  '099320',
  '166090',
  '222080',
  '228670',
  '240810'],
 20210120: ['005290',
  '028300',
  '035760',
  '068760',
  '091990',
  '122870',
  '196170',
  '228670',
  '240810',
  '323990'],
 20210121: ['005290',
  '035760',
  '035900',
  '036490',
  '054780',
  '091990',
  '099320',
  '122870',
  '215360',
  '228670'],
 20210122: ['036490',
  '041510',
  '054780',
  '089980',
  '091990',
  '099320',
  '122870',
  '215360',
  '237690',
  '319660'],
 20210125: ['015750',
  '054780',
  '069080',
  '080160',
  '089980',
  '091990',
  '102710',
  '122870',
  '215360',
  '237690'],
 20210126: ['015750',
  '027360',
  '035080',
  '080160',
  '089980',
  '091990',
  '096530',
  '102710',
  '122870',
  '226950'],
 20210127: ['027360',
  '039840',
  '053030',
  '066970',
  '102710',
  '141080',
  '213420',
  '226950',
  '290650',
  '357780'],
 20210128: ['027360',
  '048260',
  '066970',
  '086520',
  '089980',
  '213420',
  '226950',
  '247540',
  '290650',
  '357780'],
 20210129: ['033640',
  '048260',
  '066970',
  '086520',
  '089980',
  '182400',
  '222080',
  '237690',
  '247540',
  '293780'],
 20210201: ['033640',
  '048260',
  '086520',
  '089980',
  '091990',
  '096530',
  '182400',
  '214450',
  '222080',
  '237690'],
 20210202: ['046390',
  '056190',
  '091990',
  '096530',
  '145020',
  '182400',
  '213420',
  '214450',
  '237690',
  '293780'],
 20210203: ['046390',
  '056190',
  '066970',
  '068760',
  '091990',
  '122870',
  '156100',
  '196170',
  '213420',
  '237690'],
 20210204: ['046390',
  '056190',
  '066970',
  '078890',
  '122870',
  '156100',
  '213420',
  '235980',
  '237690',
  '319660'],
 20210205: ['056190',
  '066970',
  '089600',
  '122870',
  '144510',
  '166090',
  '213420',
  '237690',
  '241840',
  '278280'],
 20210208: ['018000',
  '035080',
  '056190',
  '067160',
  '086520',
  '122870',
  '144510',
  '166090',
  '213420',
  '278280'],
 20210209: ['018000',
  '035080',
  '067160',
  '086520',
  '089600',
  '100090',
  '216050',
  '222080',
  '241840',
  '357780'],
 20210210: ['000250',
  '046390',
  '048260',
  '083450',
  '086520',
  '126700',
  '216050',
  '222080',
  '265520',
  '357780'],
 20210215: ['046390',
  '048260',
  '083450',
  '095610',
  '102710',
  '112040',
  '240810',
  '265520',
  '319660',
  '357780'],
 20210216: ['005290',
  '046390',
  '056190',
  '095610',
  '215200',
  '240810',
  '265520',
  '277810',
  '306040',
  '319660'],
 20210217: ['005290',
  '035900',
  '036490',
  '056190',
  '095610',
  '214150',
  '240810',
  '265520',
  '306040',
  '319660'],
 20210218: ['005290',
  '035900',
  '036490',
  '056190',
  '078150',
  '166090',
  '178320',
  '214150',
  '300120',
  '306040'],
 20210219: ['035080',
  '035900',
  '036490',
  '058470',
  '060720',
  '144510',
  '178320',
  '214150',
  '298540',
  '306040'],
 20210222: ['035080',
  '036200',
  '058470',
  '060720',
  '086520',
  '178320',
  '222080',
  '270870',
  '298540',
  '357780'],
 20210223: ['034230',
  '036200',
  '058470',
  '060720',
  '086520',
  '086900',
  '200130',
  '213420',
  '222080',
  '357780'],
 20210224: ['034230',
  '036200',
  '039200',
  '086520',
  '086900',
  '200130',
  '222080',
  '235980',
  '293490',
  '357780'],
 20210225: ['034230',
  '036200',
  '036490',
  '066970',
  '086520',
  '086900',
  '101160',
  '235980',
  '293490',
  '357780'],
 20210226: ['034230',
  '036490',
  '066970',
  '084370',
  '086520',
  '086900',
  '091990',
  '235980',
  '293490',
  '357780'],
 20210302: ['035900',
  '066970',
  '086520',
  '086900',
  '091990',
  '144510',
  '235980',
  '240810',
  '293490',
  '357780'],
 20210303: ['035900',
  '036490',
  '084370',
  '086520',
  '086900',
  '091990',
  '095610',
  '141080',
  '144510',
  '235980'],
 20210304: ['034230',
  '035900',
  '036490',
  '086520',
  '091990',
  '095610',
  '122870',
  '141080',
  '144510',
  '241840'],
 20210305: ['034230',
  '035900',
  '041510',
  '086520',
  '086900',
  '091990',
  '095610',
  '122870',
  '160550',
  '241840'],
 20210308: ['036490',
  '054780',
  '084650',
  '086900',
  '095610',
  '122870',
  '144510',
  '178320',
  '241840',
  '322310'],
 20210309: ['036490',
  '048260',
  '060720',
  '084650',
  '086900',
  '095610',
  '101160',
  '121800',
  '122870',
  '178320'],
 20210310: ['036490',
  '048260',
  '063080',
  '084650',
  '095610',
  '121800',
  '145020',
  '241840',
  '277810',
  '322310'],
 20210311: ['036490',
  '036890',
  '048260',
  '063080',
  '108320',
  '121800',
  '235980',
  '241840',
  '247540',
  '357780'],
 20210312: ['036890',
  '066970',
  '100090',
  '108320',
  '213420',
  '235980',
  '241840',
  '247540',
  '323990',
  '357780'],
 20210315: ['005290',
  '036890',
  '066970',
  '100090',
  '108320',
  '213420',
  '215000',
  '235980',
  '247540',
  '357780'],
 20210316: ['005290',
  '036890',
  '039030',
  '091990',
  '100090',
  '144510',
  '189980',
  '215000',
  '241840',
  '357780'],
 20210317: ['005290',
  '036890',
  '039030',
  '108320',
  '122870',
  '144510',
  '200130',
  '237690',
  '240810',
  '241840'],
 20210318: ['005290',
  '039030',
  '060250',
  '091990',
  '144510',
  '200130',
  '237690',
  '241840',
  '263750',
  '334970'],
 20210319: ['000250',
  '039030',
  '060250',
  '060720',
  '144510',
  '194480',
  '200130',
  '237690',
  '290650',
  '334970'],
 20210322: ['000250',
  '039030',
  '060250',
  '060720',
  '069080',
  '074600',
  '085370',
  '091990',
  '200130',
  '290650'],
 20210323: ['060720',
  '069080',
  '074600',
  '084650',
  '091990',
  '144510',
  '200130',
  '240810',
  '290650',
  '322310'],
 20210324: ['005290',
  '039030',
  '069080',
  '074600',
  '091990',
  '178320',
  '200130',
  '235980',
  '240810',
  '272290'],
 20210325: ['005290',
  '066970',
  '069080',
  '074600',
  '091990',
  '100090',
  '178320',
  '235980',
  '240810',
  '272290'],
 20210326: ['005290',
  '066970',
  '069080',
  '074600',
  '084370',
  '091990',
  '100090',
  '178320',
  '235980',
  '240810'],
 20210329: ['005290',
  '066970',
  '069080',
  '078340',
  '099320',
  '100090',
  '141080',
  '178320',
  '253450',
  '272290'],
 20210330: ['039200',
  '054780',
  '066970',
  '078340',
  '099320',
  '100090',
  '141080',
  '178320',
  '253450',
  '272290'],
 20210331: ['039200',
  '053030',
  '066970',
  '078340',
  '086890',
  '095610',
  '100090',
  '194480',
  '253450',
  '272290'],
 20210401: ['039030',
  '039200',
  '053030',
  '066970',
  '078340',
  '095610',
  '100090',
  '253450',
  '256150',
  '272290'],
 20210402: ['039030',
  '053030',
  '066970',
  '089970',
  '095610',
  '240810',
  '256150',
  '319660',
  '340570',
  '357780'],
 20210405: ['036490',
  '039030',
  '066970',
  '108320',
  '240810',
  '256150',
  '278280',
  '319660',
  '340570',
  '357780'],
 20210406: ['036490',
  '039030',
  '066970',
  '089970',
  '108320',
  '240810',
  '253450',
  '272290',
  '319660',
  '357780'],
 20210407: ['036200',
  '036890',
  '066970',
  '078340',
  '108320',
  '183490',
  '240810',
  '253450',
  '272290',
  '319660'],
 20210408: ['025900',
  '036200',
  '066970',
  '067730',
  '078340',
  '089970',
  '108320',
  '206650',
  '208640',
  '253450'],
 20210409: ['025900',
  '060150',
  '066970',
  '078340',
  '089970',
  '108320',
  '206650',
  '208640',
  '237690',
  '253450'],
 20210412: ['025900',
  '039200',
  '060150',
  '144510',
  '156100',
  '206650',
  '237690',
  '247540',
  '253450',
  '319660'],
 20210413: ['025900',
  '039200',
  '053030',
  '091990',
  '144510',
  '156100',
  '237690',
  '247540',
  '287410',
  '357780'],
 20210414: ['025900',
  '036490',
  '039200',
  '053030',
  '091990',
  '144510',
  '156100',
  '237690',
  '247540',
  '278280'],
 20210415: ['025900',
  '036490',
  '053030',
  '060250',
  '089030',
  '091990',
  '144510',
  '247540',
  '278280',
  '357780'],
 20210416: ['025900',
  '027360',
  '036490',
  '041190',
  '060250',
  '066970',
  '089030',
  '144510',
  '319660',
  '357780'],
 20210419: ['025900',
  '036490',
  '036930',
  '089030',
  '141080',
  '144510',
  '145020',
  '183490',
  '253450',
  '357780'],
 20210420: ['036490',
  '036930',
  '039200',
  '086520',
  '089030',
  '141080',
  '144510',
  '145020',
  '319660',
  '357780'],
 20210421: ['036930',
  '086520',
  '089030',
  '091120',
  '141080',
  '144510',
  '145020',
  '222800',
  '278280',
  '357780'],
 20210422: ['048260',
  '053030',
  '091120',
  '095610',
  '123040',
  '141080',
  '144510',
  '145020',
  '278280',
  '357780'],
 20210423: ['025900',
  '039030',
  '067310',
  '086520',
  '091120',
  '123040',
  '237690',
  '247540',
  '278280',
  '357780'],
 20210426: ['025900',
  '067310',
  '078600',
  '086520',
  '123040',
  '237690',
  '247540',
  '278280',
  '347770',
  '357780'],
 20210427: ['025900',
  '067310',
  '078600',
  '086520',
  '095700',
  '183300',
  '213420',
  '247540',
  '278280',
  '347770'],
 20210428: ['034230',
  '067310',
  '078600',
  '086520',
  '183300',
  '247540',
  '278280',
  '347770',
  '950190',
  '950220'],
 20210429: ['034230',
  '036930',
  '078600',
  '086520',
  '183300',
  '194480',
  '253450',
  '272290',
  '278280',
  '950190'],
 20210430: ['034230',
  '035760',
  '078600',
  '084110',
  '086520',
  '194480',
  '218410',
  '237880',
  '253450',
  '334970'],
 20210503: ['034230',
  '035760',
  '078600',
  '084110',
  '091990',
  '100090',
  '194480',
  '218410',
  '253450',
  '334970'],
 20210504: ['034230',
  '035760',
  '067160',
  '078340',
  '084110',
  '091990',
  '237880',
  '253450',
  '319660',
  '334970'],
 20210506: ['034230',
  '035760',
  '046890',
  '078340',
  '084110',
  '091990',
  '145020',
  '240810',
  '253450',
  '319660'],
 20210507: ['025900',
  '034230',
  '035760',
  '041510',
  '046890',
  '078340',
  '091990',
  '131290',
  '145020',
  '319660'],
 20210510: ['000250',
  '034230',
  '041510',
  '046890',
  '067160',
  '078340',
  '091990',
  '096530',
  '108320',
  '112040'],
 20210511: ['000250',
  '034230',
  '035900',
  '041510',
  '046890',
  '053280',
  '056190',
  '078340',
  '091990',
  '145020'],
 20210512: ['034230',
  '053280',
  '078340',
  '080160',
  '096530',
  '122870',
  '145020',
  '151860',
  '263750',
  '267980'],
 20210513: ['034230',
  '078340',
  '080160',
  '092040',
  '122870',
  '145020',
  '200130',
  '215000',
  '263750',
  '267980'],
 20210514: ['034230',
  '035900',
  '041830',
  '078340',
  '080160',
  '096530',
  '122870',
  '145020',
  '200130',
  '263750'],
 20210517: ['034230',
  '035900',
  '041510',
  '056190',
  '066970',
  '078340',
  '080160',
  '096530',
  '122870',
  '200130'],
 20210518: ['034230',
  '035900',
  '039030',
  '041510',
  '056190',
  '078340',
  '089030',
  '091990',
  '096530',
  '122870'],
 20210520: ['034230',
  '035900',
  '039030',
  '041510',
  '056190',
  '078340',
  '089030',
  '091990',
  '122870',
  '200130'],
 20210521: ['035900',
  '039030',
  '041510',
  '056190',
  '066970',
  '078340',
  '089030',
  '091990',
  '122870',
  '200130'],
 20210524: ['041510',
  '046890',
  '056190',
  '066970',
  '089030',
  '110790',
  '122870',
  '200130',
  '294090',
  '294570'],
 20210525: ['035760',
  '035900',
  '041510',
  '066970',
  '091990',
  '110790',
  '122870',
  '200130',
  '213420',
  '294570'],
 20210526: ['035760',
  '035900',
  '036930',
  '041190',
  '041510',
  '066970',
  '078340',
  '080160',
  '110790',
  '122870'],
 20210527: ['035760',
  '035900',
  '041510',
  '066970',
  '078340',
  '080160',
  '091990',
  '122870',
  '214150',
  '272290'],
 20210528: ['035760',
  '035900',
  '041510',
  '068760',
  '080160',
  '091990',
  '247540',
  '272290',
  '352480',
  '383310'],
 20210531: ['035760',
  '035900',
  '068760',
  '090460',
  '091990',
  '096530',
  '122870',
  '247540',
  '272290',
  '288620'],
 20210601: ['035760',
  '035900',
  '041510',
  '068760',
  '090460',
  '091990',
  '096530',
  '122870',
  '218410',
  '272290'],
 20210602: ['035760',
  '035900',
  '041510',
  '068760',
  '088800',
  '090460',
  '106240',
  '122870',
  '218410',
  '272290'],
 20210603: ['035760',
  '035900',
  '041460',
  '041510',
  '068760',
  '088800',
  '106240',
  '213420',
  '270870',
  '272290'],
 20210604: ['015750',
  '035760',
  '041460',
  '041510',
  '068760',
  '074600',
  '083310',
  '091990',
  '270870',
  '293490'],
 20210607: ['041510',
  '066970',
  '068760',
  '091990',
  '247540',
  '270870',
  '272290',
  '278280',
  '293490',
  '357780'],
 20210608: ['041510',
  '066970',
  '068760',
  '084990',
  '091990',
  '096530',
  '199820',
  '213420',
  '247540',
  '293490'],
 20210609: ['035760',
  '041510',
  '066970',
  '068760',
  '084990',
  '091990',
  '096530',
  '104620',
  '199820',
  '272290'],
 20210610: ['041510',
  '048260',
  '067000',
  '068760',
  '091990',
  '196170',
  '199820',
  '247540',
  '293490',
  '323990'],
 20210611: ['035760',
  '041510',
  '048260',
  '067000',
  '214150',
  '247540',
  '272290',
  '278280',
  '293490',
  '323990'],
 20210614: ['048260',
  '067000',
  '068760',
  '091990',
  '196170',
  '247540',
  '263750',
  '278280',
  '293490',
  '323990'],
 20210615: ['035760',
  '035900',
  '068760',
  '122870',
  '145020',
  '214150',
  '247540',
  '263750',
  '278280',
  '293490'],
 20210616: ['035760',
  '068760',
  '091990',
  '122870',
  '145020',
  '214150',
  '247540',
  '263750',
  '293490',
  '348210'],
 20210617: ['035760',
  '039030',
  '064760',
  '068760',
  '086900',
  '122870',
  '214150',
  '247540',
  '272290',
  '289220'],
 20210618: ['035760',
  '035900',
  '039030',
  '060250',
  '068760',
  '086900',
  '091990',
  '122870',
  '247540',
  '272290'],
 20210621: ['035760',
  '035900',
  '060250',
  '068760',
  '086900',
  '091990',
  '122870',
  '178320',
  '247540',
  '272290'],
 20210622: ['035760',
  '035900',
  '060250',
  '068760',
  '086900',
  '091990',
  '096530',
  '141080',
  '247540',
  '272290'],
 20210623: ['025900',
  '035760',
  '060250',
  '068760',
  '086900',
  '091990',
  '096530',
  '108320',
  '122870',
  '247540'],
 20210624: ['025900',
  '035760',
  '039030',
  '060250',
  '086900',
  '090460',
  '091990',
  '096530',
  '122870',
  '247540'],
 20210625: ['035760',
  '039030',
  '060250',
  '066970',
  '086900',
  '090460',
  '104480',
  '108320',
  '122450',
  '247540'],
 20210628: ['033640',
  '035760',
  '036490',
  '039030',
  '086900',
  '090460',
  '101490',
  '108320',
  '122450',
  '196170'],
 20210629: ['033640',
  '036490',
  '101490',
  '108320',
  '122450',
  '126700',
  '196170',
  '237690',
  '293490',
  '317330'],
 20210630: ['033640',
  '036490',
  '039200',
  '086900',
  '090460',
  '108320',
  '110790',
  '144510',
  '222800',
  '237690'],
 20210701: ['033640',
  '036490',
  '039200',
  '090460',
  '110790',
  '141080',
  '144510',
  '222800',
  '226950',
  '235980'],
 20210702: ['033640',
  '039200',
  '068760',
  '090460',
  '141080',
  '144510',
  '222800',
  '226950',
  '235980',
  '237690'],
 20210705: ['033640',
  '035760',
  '039200',
  '068760',
  '131970',
  '141080',
  '144510',
  '196170',
  '226950',
  '237690'],
 20210706: ['033640',
  '035760',
  '036490',
  '039200',
  '064550',
  '068760',
  '131970',
  '144510',
  '196170',
  '293780'],
 20210707: ['033640',
  '036490',
  '061970',
  '066970',
  '068760',
  '096530',
  '131970',
  '274090',
  '278280',
  '290650'],
 20210708: ['036490',
  '061970',
  '064550',
  '096530',
  '131970',
  '263050',
  '274090',
  '278280',
  '290650',
  '293490'],
 20210709: ['033640',
  '061970',
  '066970',
  '096530',
  '131970',
  '141080',
  '263050',
  '274090',
  '278280',
  '293490'],
 20210712: ['041510',
  '131970',
  '213420',
  '226330',
  '247540',
  '263050',
  '263750',
  '278280',
  '293490',
  '354200'],
 20210713: ['025900',
  '041510',
  '066970',
  '131970',
  '141080',
  '196170',
  '247540',
  '278280',
  '293490',
  '354200'],
 20210714: ['025900',
  '035900',
  '041510',
  '063170',
  '067000',
  '091120',
  '131970',
  '230360',
  '278280',
  '293490'],
 20210715: ['035900',
  '063170',
  '089980',
  '090460',
  '101490',
  '145020',
  '230360',
  '247540',
  '278280',
  '293490'],
 20210716: ['084850',
  '086900',
  '089980',
  '090460',
  '101490',
  '108320',
  '145020',
  '230360',
  '237690',
  '241840'],
 20210719: ['048260',
  '084850',
  '086900',
  '089980',
  '091990',
  '101490',
  '122870',
  '145020',
  '214450',
  '263750'],
 20210720: ['005290',
  '036490',
  '089980',
  '091990',
  '096530',
  '145020',
  '160550',
  '237690',
  '263750',
  '357780'],
 20210721: ['005290',
  '036490',
  '086520',
  '086900',
  '091990',
  '094850',
  '160550',
  '263750',
  '293780',
  '357780'],
 20210722: ['005290',
  '035080',
  '086520',
  '086900',
  '091990',
  '131970',
  '222800',
  '263750',
  '293780',
  '357780'],
 20210723: ['005290',
  '035900',
  '086520',
  '086900',
  '089030',
  '091990',
  '131970',
  '222800',
  '293780',
  '357780'],
 20210726: ['005290',
  '035900',
  '039030',
  '041510',
  '064260',
  '084370',
  '086520',
  '089030',
  '131970',
  '222800'],
 20210727: ['035900',
  '039030',
  '064260',
  '067160',
  '084370',
  '086520',
  '126700',
  '131970',
  '247540',
  '318020'],
 20210728: ['005290',
  '039030',
  '064260',
  '067160',
  '084650',
  '126700',
  '131970',
  '222800',
  '237690',
  '318020'],
 20210729: ['000250',
  '005290',
  '084650',
  '088800',
  '089890',
  '213420',
  '214450',
  '222800',
  '237690',
  '318020'],
 20210730: ['000250',
  '005290',
  '084650',
  '089890',
  '095340',
  '213420',
  '214450',
  '222800',
  '237690',
  '317330'],
 20210802: ['084650',
  '089890',
  '213420',
  '214150',
  '214450',
  '222800',
  '237690',
  '263750',
  '287410',
  '294570'],
 20210803: ['084650',
  '090460',
  '131970',
  '214150',
  '214450',
  '222800',
  '230360',
  '237690',
  '278280',
  '287410'],
 20210804: ['042000',
  '054780',
  '084650',
  '091990',
  '131970',
  '214450',
  '222800',
  '237690',
  '278280',
  '287410'],
 20210805: ['042000',
  '054780',
  '066970',
  '084650',
  '091990',
  '131970',
  '213420',
  '222800',
  '237690',
  '319660'],
 20210806: ['042000',
  '066970',
  '091990',
  '095610',
  '122870',
  '196170',
  '213420',
  '237690',
  '278280',
  '319660'],
 20210809: ['025900',
  '035900',
  '042000',
  '066970',
  '095610',
  '122870',
  '196170',
  '213420',
  '278280',
  '356860'],
 20210810: ['025900',
  '035900',
  '041510',
  '066970',
  '095610',
  '122870',
  '131970',
  '196170',
  '278280',
  '356860'],
 20210811: ['025900',
  '035900',
  '041510',
  '066970',
  '085370',
  '091990',
  '122870',
  '131970',
  '183300',
  '206650'],
 20210812: ['066970',
  '068760',
  '085370',
  '100090',
  '112040',
  '122870',
  '131970',
  '206650',
  '214450',
  '222800'],
 20210813: ['039200',
  '066970',
  '068760',
  '085370',
  '091990',
  '100090',
  '122870',
  '131970',
  '214450',
  '293490'],
 20210817: ['038070',
  '068760',
  '095340',
  '100090',
  '112040',
  '122870',

In [27]:
close_price_df = pd.DataFrame(columns = stock_code_list, index = tradingdays[:-1])

In [28]:
close_price_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
def parse_date(str_timestamp):
    return int(str_timestamp[:4]+str_timestamp[5:7]+str_timestamp[8:10])

In [30]:
for idx, stock_code in enumerate(stock_code_list):
    print(idx)
    tmp_df = fdr.DataReader(stock_code, target_year)['Close']
    tmp_df.index = [parse_date(x) for x in tmp_df.index.astype(str)]
    close_price_df[stock_code].loc[tmp_df.index[:-1]] = tmp_df.loc[tmp_df.index[:-1]]

0
1

C:\Anaconda3\envs\test\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372

ConnectionError: ('Connection aborted.', TimeoutError(10060, '연결된 구성원으로부터 응답이 없어 연결하지 못했거나, 호스트로부터 응답이 없어 연결이 끊어졌습니다', None, 10060, None))

In [31]:
close_price_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,235,623,314,951,569,1970,1430,81800,9050,2090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210105,235,622,314,951,573,2010,1430,78700,9100,2080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210106,234,617,314,951,587,1975,1435,79200,8990,2105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210107,234,619,316,951,600,1970,1420,78000,9100,2100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210108,227,624,316,951,584,1930,1410,75600,8920,2065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,182,544,320,951,697,1690,1365,59200,13400,2800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210824,180,550,323,951,711,1725,1390,59200,14450,2885,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210825,185,552,326,951,709,1730,1390,61500,14400,2975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210826,186,553,335,951,731,1755,1400,55400,14250,3015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210827,184,553,333,951,720,1750,1415,54900,14950,2915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
close_price_df.to_csv('close_price_20210104_20210827.csv', index = True)

In [33]:
return_df = ((close_price_df - close_price_df.shift(1))/close_price_df.shift(1))*100

In [34]:
return_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210105,0.000000,-0.160514,0.000000,0.0,0.702988,2.030457,0.000000,-3.789731,0.552486,-0.478469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210106,-0.425532,-0.803859,0.000000,0.0,2.443281,-1.741294,0.349650,0.635324,-1.208791,1.201923,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210107,0.000000,0.324149,0.636943,0.0,2.214651,-0.253165,-1.045296,-1.515152,1.223582,-0.237530,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210108,-2.991453,0.807754,0.000000,0.0,-2.666667,-2.030457,-0.704225,-3.076923,-1.978022,-1.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,9.638554,4.615385,2.564103,0.0,2.650957,2.114804,5.405405,5.525847,3.474903,-1.060071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210824,-1.098901,1.102941,0.937500,0.0,2.008608,2.071006,1.831502,0.000000,7.835821,3.035714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210825,2.777778,0.363636,0.928793,0.0,-0.281294,0.289855,0.000000,3.885135,-0.346021,3.119584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210826,0.540541,0.181159,2.760736,0.0,3.102962,1.445087,0.719424,-9.918699,-1.041667,1.344538,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210827,-1.075269,0.000000,-0.597015,0.0,-1.504788,-0.284900,1.071429,-0.902527,4.912281,-3.316750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# 단순히 당일 오르고 내림을 계산해보자
up_cnt = 0
down_cnt = 0
for tradingday in tradingday_dict.keys():
    daily_top_amount_stock_code = tradingday_dict[tradingday]
    for stock_code in daily_top_amount_stock_code:
        daily_stock_return = return_df[stock_code][tradingday]
        if np.isnan(daily_stock_return):
            continue
        elif daily_stock_return > 0:
            up_cnt += 1
        elif daily_stock_return < 0:
            down_cnt += 1
        else:
            continue

In [36]:
print(up_cnt)
print(down_cnt)

947
530

In [37]:
# 단순히 다음날 오르고 내림을 계산해보자
up_cnt = 0
down_cnt = 0
for tradingday in tradingday_dict.keys():
    daily_top_amount_stock_code = tradingday_dict[tradingday]
    for stock_code in daily_top_amount_stock_code:
        tomorrow_index = tradingdays.index(tradingday)+1
        if tomorrow_index >=len(tradingdays)-1:
            continue
        daily_stock_return = return_df[stock_code][tradingdays[tomorrow_index]]
        if np.isnan(daily_stock_return):
            continue
        elif daily_stock_return > 0:
            up_cnt += 1
        elif daily_stock_return < 0:
            down_cnt += 1
        else:
            continue

In [38]:
print(up_cnt)

703

In [39]:
print(down_cnt)

755

In [105]:
tradingday_dict.keys()

dict_keys([20210111, 20210112, 20210113, 20210114, 20210115, 20210118, 20210119, 20210120, 20210121, 20210122, 20210125, 20210126, 20210127, 20210128, 20210129, 20210201, 20210202, 20210203, 20210204, 20210205, 20210208, 20210209, 20210210, 20210215, 20210216, 20210217, 20210218, 20210219, 20210222, 20210223, 20210224, 20210225, 20210226, 20210302, 20210303, 20210304, 20210305, 20210308, 20210309, 20210310, 20210311, 20210312, 20210315, 20210316, 20210317, 20210318, 20210319, 20210322, 20210323, 20210324, 20210325, 20210326, 20210329, 20210330, 20210331, 20210401, 20210402, 20210405, 20210406, 20210407, 20210408, 20210409, 20210412, 20210413, 20210414, 20210415, 20210416, 20210419, 20210420, 20210421, 20210422, 20210423, 20210426, 20210427, 20210428, 20210429, 20210430, 20210503, 20210504, 20210506, 20210507, 20210510, 20210511, 20210512, 20210513, 20210514, 20210517, 20210518, 20210520, 20210521, 20210524, 20210525, 20210526, 20210527, 20210528, 20210531, 20210601, 20210602, 20210603, 20210604, 20210607, 20210608, 20210609, 20210610, 20210611, 20210614, 20210615, 20210616, 20210617, 20210618, 20210621, 20210622, 20210623, 20210624, 20210625, 20210628, 20210629, 20210630, 20210701, 20210702, 20210705, 20210706, 20210707, 20210708, 20210709, 20210712, 20210713, 20210714, 20210715, 20210716, 20210719, 20210720, 20210721, 20210722, 20210723, 20210726, 20210727, 20210728, 20210729, 20210730, 20210802, 20210803, 20210804, 20210805, 20210806, 20210809, 20210810, 20210811, 20210812, 20210813, 20210817, 20210818, 20210819, 20210820, 20210823, 20210824, 20210825, 20210826, 20210827])

In [101]:
close_price_df['900110'][20210104]

235

In [22]:
weekly_top_buy_df = pd.read_csv('weekly_top_buy_list.csv', index_col=0)

In [23]:
weekly_top_buy_df

,293490,141080,028300,308080,068760,106240,039030,035900,214450,222800,...,092190,144510,016250,290720,029960,192440,023410,137400,222080,253590
buy_pricevolume,12987,5861,5717,5610,5301,3907,3829,3677,2658,2141,...,148,141,140,135,124,119,119,117,109,107

In [28]:
year_daily_df = year_daily_df[weekly_top_buy_df.columns]

In [29]:
year_daily_df

,293490,141080,028300,308080,068760,106240,039030,035900,214450,222800,...,092190,144510,016250,290720,029960,192440,023410,137400,222080,253590
20210104,-6,1758,10,0,-150,0,-938,-188,0,0,...,0,2154,0,0,0,-15,0,0,0,0
20210105,0,-36,-34,0,-328,0,-37,-745,-12,-520,...,0,135,0,0,-8,-521,-2,0,0,0
20210106,-1,2342,-140,0,-147,0,-48,-339,-1,751,...,963,197,0,0,-27,-9,-3,0,0,0
20210107,-13,301,-384,0,-243,-283,484,-1333,-47,-228,...,-1096,-161,0,-2,-75,-536,-2,3,3,0
20210108,0,-745,21,0,-3,0,724,-193,-885,-151,...,0,43,0,-1,0,-25,0,-3,-3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,993,468,161,0,1121,182,465,751,1246,-72,...,-132,112,0,160,-2,-2,-3,-6,117,0
20210824,-34,2859,-52,0,196,0,820,774,-7,592,...,-3,70,23,59,-2,-2,-3,-6,116,0
20210825,2036,953,5292,2380,1291,-699,688,1394,990,747,...,156,6,118,76,131,125,127,6,8,0
20210826,11547,1285,295,2417,922,2204,1008,1360,1478,-13,...,-5,2,0,0,-4,-4,-5,117,-15,0
20210827,-562,763,182,813,2892,2401,1313,150,196,816,...,0,63,0,0,0,0,0,0,0,107

In [54]:
yesterday_buy_v = year_daily_df.loc[20210827].values

In [33]:
yesterday_buy_v

array([ -562,   763,   182,   813,  2892,  2401,  1313,   150,   196,
         816,  -484,  2179,   245,  -475,   447,    89,    34,  1008,
         355,   543,   228,   263,     0,     0,   276,     0,   494,
         244,   403,   142,     0,   226,   881, -7487,   675,     0,
           0,   192,   374,    13,     0,   566,  -558,  -123,     0,
         494,     0,  -359,     0,    68,   243,   452,   450,     0,
           0,     0,     0,     0,   352,     0,   340,     0,    -7,
         182,   243,  -348,     0,     0,     0,     0,     0,     0,
         262,    98,     0,   103,     0,  -109,     0,     0,    64,
           0,     0,     0,     0,     0,     0,   153,   153,     0,
           0,    63,     0,     0,     0,     0,     0,     0,     0,
         107], dtype=int64)

In [34]:
weekly_top_buy_v = weekly_top_buy_df.values

In [35]:
weekly_top_buy_v

array([[12987,  5861,  5717,  5610,  5301,  3907,  3829,  3677,  2658,
         2141,  2122,  2107,  2032,  1996,  1782,  1749,  1731,  1722,
         1666,  1578,  1566,  1543,  1524,  1374,  1333,  1251,  1250,
         1223,  1194,  1162,   992,   982,   905,   889,   872,   838,
          822,   766,   751,   691,   640,   605,   550,   515,   497,
          494,   493,   487,   456,   456,   452,   452,   450,   403,
          395,   389,   367,   365,   352,   344,   340,   325,   318,
          313,   311,   303,   303,   302,   301,   289,   287,   270,
          262,   254,   246,   241,   238,   222,   215,   208,   204,
          186,   186,   177,   163,   162,   160,   153,   153,   151,
          148,   141,   140,   135,   124,   119,   119,   117,   109,
          107]], dtype=int64)

In [36]:
# 재료
# 1. 어제 하루 매수 데이터
# 2. 지난 4일 매수 데이터

In [ ]:
# 대상
# 1. 4일 누적보다 어제 하루가 더 큰 경우: 어제 하루로 양전한 것

In [51]:
target_df_1 = weekly_top_buy_df[np.array(list(weekly_top_buy_df.columns))[yesterday_buy_v >= weekly_top_buy_v[0]]]

In [58]:
target_df_1

,091990,293780,226950,068930,126340,330860,088390,281740,067990,253590
buy_pricevolume,2107,494,452,450,352,340,262,153,153,107

In [56]:
year_daily_df.loc[20210827:][target_df_1.columns]

,091990,293780,226950,068930,126340,330860,088390,281740,067990,253590
20210827,2179,494,452,450,352,340,262,153,153,107

In [ ]:
# 대상
# 2.

In [51]:
twomonth_df = df.tail(40)

In [22]:
lastweek_cum_df = df.rolling(5).sum()

In [23]:
lastweek_cum_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-978.0,0.0,0.0,...,780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-709.0,0.0,0.0,...,-1355.0,0.0,0.0,13.0,0.0,0.0,0.0,1.0,0.0,0.0
20210824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1065.0,0.0,0.0,...,-1355.0,-43.0,0.0,13.0,0.0,0.0,0.0,1.0,0.0,0.0
20210825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1077.0,0.0,0.0,...,0.0,-92.0,0.0,42.0,0.0,0.0,0.0,1.0,0.0,0.0
20210826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1724.0,0.0,0.0,...,0.0,-92.0,0.0,-316.0,0.0,0.0,0.0,1.0,0.0,0.0
20210827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2075.0,0.0,0.0,...,0.0,-92.0,0.0,-520.0,0.0,0.0,0.0,1.0,0.0,0.0

In [71]:
twomonth_cum_df.sort_values(by=20210824, axis=1, ascending=False)

,293490,237690,141080,086520,222800,131970,214450,263750,272290,278280,...,112040,034230,046890,319660,078340,240810,035760,253450,383310,036490
20210104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210818,30594.0,32490.0,23801.0,23831.0,21717.0,17175.0,17991.0,9008.0,17795.0,36432.0,...,-15595.0,-21598.0,-18104.0,-21331.0,-20772.0,-26986.0,-8537.0,-23063.0,-60006.0,-22800.0
20210819,32184.0,33176.0,23379.0,26328.0,22463.0,18449.0,18314.0,14164.0,16644.0,31750.0,...,-15647.0,-21408.0,-19007.0,-21820.0,-21871.0,-26326.0,-15712.0,-24118.0,-59832.0,-21551.0
20210820,38644.0,33689.0,24472.0,26282.0,22954.0,18994.0,18076.0,17246.0,15822.0,25057.0,...,-14152.0,-19469.0,-19028.0,-21577.0,-20807.0,-24113.0,-19528.0,-25060.0,-64502.0,-26229.0
20210823,39649.0,34231.0,24748.0,26437.0,22844.0,19028.0,19167.0,18169.0,15916.0,18780.0,...,-15117.0,-19454.0,-19220.0,-20863.0,-20696.0,-22925.0,-20797.0,-26073.0,-66369.0,-50999.0
20210824,40524.0,34218.0,26815.0,25722.0,24535.0,18803.0,18671.0,17853.0,15996.0,15852.0,...,-15404.0,-19118.0,-19587.0,-20560.0,-21957.0,-23240.0,-23988.0,-25994.0,-66127.0,-66661.0

In [55]:
tcd_m = twomonth_cum_df.values

In [58]:
recent_buy_v = tcd_m[-1] - tcd_m[-2]
recent_cum_v = tcd_m[-2]

In [61]:
minus_to_plus = np.bitwise_and(tcd_m[-1]>0, tcd_m[-2]<0)

In [65]:
for idx, stock_code in enumerate(stock_code_list):
    if minus_to_plus[idx]:
        print(stock_code)

376980

In [63]:
stock_code_list[minus_to_plus]

TypeError: only integer scalar arrays can be converted to a scalar index

In [ ]:
minus_to_plus = recent_buy

In [14]:
for si, stock_name in enumerate(stock_name_list):
    df[stock_name] = [price_volume_list[si]]

In [15]:
df

,카카오게임즈,펄어비스,에이치엘비,바이젠셀,JYP Ent.,파마리서치,레고켐바이오,알테오젠,KH바텍,셀트리온제약,...,GST,더네이쳐홀딩스,태광,연우,원익피앤이,아이컴포넌트,조이시티,인텔리안테크,녹십자랩셀,엔시스
buy_pricevolume,+13583,+8394,+5588,+4797,+2753,+2469,+2239,+2232,+2228,+2213,...,+39,+34,+32,+26,+24,+18,+16,+9,+9,+4

In [16]:
stock_name_list

['                                                                                        카카오게임즈',
 '                                                                                            펄어비스',
 '                                                                                          에이치엘비',
 '                                                                                            바이젠셀',
 '                                                                                            JYP Ent.',
 '                                                                                          파마리서치',
 '                                                                                        레고켐바이오',
 '                                                                                            알테오젠',
 '                                                                                              KH바텍',
 '                                                                                        셀트리온제약',
 '                                                                                        이오테크닉스',
 '                                                                                          삼강엠앤티',
 '                                                                                        파인테크닉스',
 '                                                                                              메지온',
 '                                                                                          현대바이오',
 '                                                                                    미래에셋벤처투자',
 '                                                                                                쿠콘',
 '                                                                                              유니셈',
 '                                                                                          에이스토리',
 '                                                                                  와이지엔터테인먼트',
 '                                                                                            모두투어',
 '                                                                                  에이치엘비생명과학',
 '                                                                                          헬릭스미스',
 '                                                                                              월덱스',
 '                                                                                      메가스터디교육',
 '                                                                                              테스나',
 '                                                                                      크리스에프앤씨',
 '                                                                                            서울옥션',
 '                                                                                                심텍',
 '                                                                                            다원시스',
 '                                                                                          차바이오텍',
 '                                                                                              제넥신',
 '                                                                                            메드팩토',
 '                                                                                      에이비엘바이오',
 '                                                                                            메디톡스',
 '                                                                                        대주전자재료',
 '                                                                                            코나아이',
 '                                                                                        상아프론테크',
 '                                                                                        덕산네오룩스',
 '                                                                                             원익QnC',
 '                                                                                          피에스케이',
 '                                                                                              코미팜',
 '                                                                                                레이',
 '                                                                                            아미코젠',
 '                                                                                        에스앤에스텍',
 '                                                                                            동화기업',
 '                                                                                              노터스',
 '                                                                                              휴온스',
 '                                                                                             CMG제약',
 '                                                                                          텔콘RF제약',
 '                                                                                        하이록코리아',
 '                                                                                          엘비세미콘',
 '                                                                                        케이피엠테크',
 '                                                                                            오스코텍',
 '                                                                                          인선이엔티',
 '                                                                                            네오위즈',
 '                                                                                              테크윙',
 '                                                                                          엠케이전자',
 '                                                                                      엔지켐생명과학',
 '                                                                                        티케이케미칼',
 '                                                                                            영풍정밀',
 '                                                                                      콜마비앤에이치',
 '                                                                                          오이솔루션',
 '                                                                                          에이스테크',
 '                                                                                                톱텍',
 '                                                                                      하나머티리얼즈',
 '                                                                                          원익홀딩스',
 '                                                                                              와이솔',
 '                                                                                          코리아센터',
 '                                                                                    크리스탈지노믹스',
 '                                                                                          삼표시멘트',
 '                                                                                            코웰패션',
 '                                                                                      서울바이오시스',
 '                                                                                            키이스트',
 '                                                                                    이베스트투자증권',
 '                                                                                            청담러닝',
 '                                                                                        바이오리더스',
 '                                                                                              코엔텍',
 '                                                                                              피엔티',
 '                                                                                            유진기업',
 '                                                                                        슈피겐코리아',
 '                                                                                       SGC이테크건설',
 '                                                                                                미코',
 '                                                                                          제이앤티씨',
 '                                                                                              위닉스',
 '                                                                                            푸드나무',
 '                                                                                          진성티이씨',
 '                                                                                        KG모빌리언스',
 '                                                                                            제이스텍',
 '                                                                                          현대이지웰',
 '                                                                                                 GST',
 '                                                                                      더네이쳐홀딩스',
 '                                                                                                태광',
 '                                                                                                연우',
 '                                                                                          원익피앤이',
 '                                                                                        아이컴포넌트',
 '                                                                                            조이시티',
 '                                                                                        인텔리안테크',
 '                                                                                          녹십자랩셀',
 '                                                                                              엔시스']

In [35]:
pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0

In [36]:
institution_df = pd.DataFrame(columns=stock_code_list, index=['institution_net'])

for idx, stock_code in enumerate(stock_code_list):
    institution_df[stock_code] = [stockwise_dict[stock_code][2]]

In [37]:
institution_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
institution_net,0,0,0,0,-19,20,0,-6951,-26,0,...,-2695,3490,0,-2264,7,0,0,0,50,0

In [38]:
closeprice_shareoutstanding_df = pd.DataFrame(columns = stock_code_list, index = ['closeprice', 'shareoutstanding']) 
for idx, stock_code in enumerate(stock_code_list):
    stockwise_result_list = []
    stockwise_result_list.append(int(kiwoom.dynamicCall("GetMasterLastPrice(QString)", stock_code)))
    stockwise_result_list.append(int(kiwoom.dynamicCall("GetMasterListedStockCnt(QString)", stock_code)))
    closeprice_shareoutstanding_df[stock_code] = stockwise_result_list

In [39]:
closeprice_shareoutstanding_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [40]:
pension_fund_df = pension_fund_df[stock_code_list]
institution_df = institution_df[stock_code_list]

In [41]:
pension_fund_df.to_csv("pension_fund_df.csv")
institution_df.to_csv("institution_df.csv")

In [42]:
pension_fund_df = pd.read_csv("pension_fund_df.csv", index_col=0)
institution_df = pd.read_csv("institution_df.csv", index_col=0)

In [43]:
pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0

In [44]:
institution_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
institution_net,0,0,0,0,-19,20,0,-6951,-26,0,...,-2695,3490,0,-2264,7,0,0,0,50,0

In [45]:
closeprice_shareoutstanding_df.to_csv("closeprice_shareoutstanding_df.csv", index=True)

In [46]:
closeprice_shareoutstanding_df = pd.read_csv("closeprice_shareoutstanding_df.csv", index_col=0)

In [47]:
closeprice_shareoutstanding_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [48]:
total_pension_fund_df= pd.concat([pension_fund_df, closeprice_shareoutstanding_df])

In [49]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [50]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [53]:
total_pension_fund_df.loc['pension_fund_net_mil']= total_pension_fund_df.loc['pension_fund_net']*1000000

In [55]:
total_pension_fund_df.loc['market_cap']= total_pension_fund_df.loc['closeprice']*total_pension_fund_df.loc['shareoutstanding']

In [56]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535
pension_fund_net_mil,0,0,0,0,0,0,0,-9479000000,0,0,...,-681000000,237000000,0,515000000,0,0,0,0,0,0
market_cap,26917594592,47280000000,61073034177,64073625000,51400025880,100980000000,71480407720,1311439161600,97143228000,73803721600,...,1022282085050,182784367200,489551575500,1023276904000,242733478400,77515806449,34206567159,98286585400,55893726720,109692162975

In [57]:
total_pension_fund_df.loc['pension_portion']=total_pension_fund_df.loc['pension_fund_net_mil']/total_pension_fund_df.loc['market_cap']

In [58]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.479000e+03,0.000000e+00,0.000000e+00,...,-6.810000e+02,2.370000e+02,0.000000e+00,5.150000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
closeprice,1.970000e+02,5.910000e+02,3.390000e+02,9.510000e+02,7.980000e+02,1.870000e+03,1.490000e+03,5.760000e+04,1.560000e+04,3.040000e+03,...,2.815000e+04,9.200000e+03,8.010000e+03,1.040000e+04,1.280000e+04,4.390000e+02,2.930000e+02,1.450000e+03,1.040000e+03,3.585000e+03
shareoutstanding,1.366375e+08,8.000000e+07,1.801564e+08,6.737500e+07,6.441106e+07,5.400000e+07,4.797343e+07,2.276804e+07,6.227130e+06,2.427754e+07,...,3.631553e+07,1.986787e+07,6.111755e+07,9.839201e+07,1.896355e+07,1.765736e+08,1.167460e+08,6.778385e+07,5.374397e+07,3.059754e+07
pension_fund_net_mil,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.479000e+09,0.000000e+00,0.000000e+00,...,-6.810000e+08,2.370000e+08,0.000000e+00,5.150000e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
market_cap,2.691759e+10,4.728000e+10,6.107303e+10,6.407362e+10,5.140003e+10,1.009800e+11,7.148041e+10,1.311439e+12,9.714323e+10,7.380372e+10,...,1.022282e+12,1.827844e+11,4.895516e+11,1.023277e+12,2.427335e+11,7.751581e+10,3.420657e+10,9.828659e+10,5.589373e+10,1.096922e+11
pension_portion,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-7.227937e-03,0.000000e+00,0.000000e+00,...,-6.661566e-04,1.296610e-03,0.000000e+00,5.032851e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [67]:
pension_portion_df = total_pension_fund_df.transpose()[['pension_portion']]

In [68]:
pension_portion_df

        pension_portion
900110              0.0
900270              0.0
900260              0.0
900290              0.0
900300              0.0
...                 ...
900280              0.0
900120              0.0
900250              0.0
900070              0.0
900100              0.0

[1509 rows x 1 columns]

In [70]:
rank_pension_portion_df= pension_portion_df.sort_values(by='pension_portion', ascending=False)

In [74]:
rank_stock_code_list = list(rank_pension_portion_df.index)

In [77]:
rank_stock_name_list = [kiwoom.dynamicCall("GetMasterCodeName(QString)", code) for code in rank_stock_code_list]

In [79]:
rank_pension_portion_df['stock_name']=rank_stock_name_list

In [83]:
rank_pension_portion_df.head(50)

        pension_portion stock_name
298540         0.024426    더네이쳐홀딩스
119610         0.023564       인터로조
317330         0.017879     덕산테코피아
014620         0.017516       성광벤드
023160         0.017092         태광
222800         0.015310         심텍
042000         0.014597       카페24
272290         0.014156    이녹스첨단소재
086520         0.012967       에코프로
064290         0.012260      인텍플러스
084650         0.011980      랩지노믹스
237690         0.011514       에스티팜
214450         0.010583      파마리서치
096240         0.010499       청담러닝
036200         0.010183        유니셈
278280         0.009854         천보
137950         0.009353     제이씨케미칼
110790         0.009243    크리스에프앤씨
131970         0.007926        테스나
101160         0.007782        월덱스
126340         0.007561        비나텍
270870         0.007510        뉴트리
294570         0.007109         쿠콘
131390         0.006929      원익피앤이
063170         0.006501       서울옥션
228670         0.006390         레이
051160         0.006048      지어소프트
287410         0.005927    제이시스메디칼
084370         0.005832       유진테크
121600         0.005811      나노신소재
160550         0.005570        NEW
131290         0.005425       티에스이
235980         0.005419       메드팩토
065350         0.005266     신성델타테크
051370         0.005144      인터플렉스
356860         0.004966        티엘비
088800         0.004760      에이스테크
064260         0.004675         다날
290670         0.004614     대보마그네틱
025900         0.004613       동화기업
318020         0.004439     포인트모바일
213420         0.004411     덕산네오룩스
194700         0.004405       노바렉스
079940         0.004352        가비아
036830         0.004283    솔브레인홀딩스
065680         0.003835     우주일렉트로
238200         0.003639        비피도
101490         0.003516     에스앤에스텍
222040         0.003487    코스맥스엔비티
079370         0.003476        제우스

In [84]:
pension_amount_df = total_pension_fund_df.transpose()[['pension_fund_net_mil']]

In [85]:
rank_pension_amount_df = pension_amount_df.sort_values(by='pension_fund_net_mil', ascending=False)

In [86]:
rank_stock_code_list = list(rank_pension_amount_df.index)

In [87]:
rank_stock_name_list = [kiwoom.dynamicCall("GetMasterCodeName(QString)", code) for code in rank_stock_code_list]

In [88]:
rank_pension_amount_df['stock_name']=rank_stock_name_list

In [89]:
rank_pension_amount_df.head(50)

        pension_fund_net_mil stock_name
086520          2.449200e+10       에코프로
237690          2.425100e+10       에스티팜
278280          2.325500e+10         천보
222800          1.499600e+10         심텍
263750          1.313900e+10       펄어비스
042000          1.226200e+10       카페24
066970          1.164500e+10       엘앤에프
272290          1.105200e+10    이녹스첨단소재
214450          1.014500e+10      파마리서치
317330          9.167000e+09     덕산테코피아
119610          8.292000e+09       인터로조
213420          7.435000e+09     덕산네오룩스
025900          7.417000e+09       동화기업
235980          7.046000e+09       메드팩토
131970          6.329000e+09        테스나
084370          6.235000e+09       유진테크
298540          5.933000e+09    더네이쳐홀딩스
023160          5.775000e+09         태광
035900          4.893000e+09   JYP Ent.
131290          4.753000e+09       티에스이
014620          4.699000e+09       성광벤드
110790          4.537000e+09    크리스에프앤씨
084650          4.513000e+09      랩지노믹스
294570          4.479000e+09         쿠콘
036200          4.434000e+09        유니셈
064290          3.930000e+09      인텍플러스
088800          3.621000e+09      에이스테크
287410          3.370000e+09    제이시스메디칼
067160          3.335000e+09     아프리카TV
122870          3.318000e+09  와이지엔터테인먼트
036830          3.295000e+09    솔브레인홀딩스
101160          3.225000e+09        월덱스
005290          2.904000e+09      동진쎄미켐
228670          2.810000e+09         레이
086900          2.762000e+09       메디톡스
065350          2.721000e+09     신성델타테크
131390          2.716000e+09      원익피앤이
101490          2.557000e+09     에스앤에스텍
096240          2.511000e+09       청담러닝
230360          2.458000e+09      에코마케팅
028300          2.431000e+09      에이치엘비
121600          2.402000e+09      나노신소재
051160          2.393000e+09      지어소프트
091990          2.326000e+09   셀트리온헬스케어
068240          2.275000e+09       다원시스
137950          2.239000e+09     제이씨케미칼
064260          2.211000e+09         다날
270870          2.197000e+09        뉴트리
063170          2.172000e+09       서울옥션
126340          2.065000e+09        비나텍

In [93]:
rank_50_list = list(rank_pension_amount_df['stock_name'].head(50).values)
common_50_list = [sn for sn in rank_50_list if sn in rank_pension_portion_df['stock_name'].head(50).values]

In [ ]:
uncommon_50_list = [sn for sn in rank_50_list if sn not in rank_pension_portion_df['stock_name'].head(50).values]

In [94]:
len(common_50_list)

39

In [95]:
common_50_list

['에코프로',
 '에스티팜',
 '천보',
 '심텍',
 '카페24',
 '이녹스첨단소재',
 '파마리서치',
 '덕산테코피아',
 '인터로조',
 '덕산네오룩스',
 '동화기업',
 '메드팩토',
 '테스나',
 '유진테크',
 '더네이쳐홀딩스',
 '태광',
 '티에스이',
 '성광벤드',
 '크리스에프앤씨',
 '랩지노믹스',
 '쿠콘',
 '유니셈',
 '인텍플러스',
 '에이스테크',
 '제이시스메디칼',
 '솔브레인홀딩스',
 '월덱스',
 '레이',
 '신성델타테크',
 '원익피앤이',
 '에스앤에스텍',
 '청담러닝',
 '나노신소재',
 '지어소프트',
 '제이씨케미칼',
 '다날',
 '뉴트리',
 '서울옥션',
 '비나텍']

* 하락중인 종목들 중 눈여겨볼만한 것들  
메드팩토  
성광벤드  
인텍플러스  
레이  
나노신소재  
제이씨케미칼  
다날  
서울옥션  
티엘비